// Styling for the footer section

link{
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: underline; text-decoration-color: black; }
    a:active { text-decoration: none; }
}