// Styling for the about section

h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
p {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 110%;
}

// edits all the other imgs for some reason... (portfolio item, etc?)
img{
  margin-bottom: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
